<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Movie Management System</title>
<style>
        body {
            text-align: center;
            margin-top: 20px;
        }

        a {
            font-size: 20px; 
            margin: 10px;
        }
</style>
</head>
<body>
	<h1 style="text-align: center">Welcome to Movie Manager ! :)) </h1>
	<h2 style="text-align: center">Hope you have a fun experience visiting this movie database application</h2>
	<br></br>
	<a href = "actor" >Actor Management</a>
	<a href = "genre" >Genre Management</a>
	<a href = "movie" >Movie Management</a>
	<br></br>
	<br><a href = "view" >View Database</a>
		&nbsp;
		<a href = "viewById" >View Movie By id</a>
			&nbsp;
		<a href = "viewByCategory" >View Movie By Category</a>
	</br>


</body>
</html>