<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Update Movie</title>
</head>
<body>
	<form action="#" th:action="@{/updateMovie}" th:object="${movie}" method ="post">
		<table>
		<tr>
			<td> <input type ="hidden" th:field="*{movieId}" /> </td>
		</tr>
		<tr><td>Title:</td>
			<td> <input type ="text" th:field="*{movieTitle}"/> </td>
		</tr>
		<tr><td>Description:</td>
			<td> <input type ="text" th:field="*{description}"/> </td>
		</tr>
		<tr><td>Duration:</td>
			<td> <input type ="number" th:field="*{movieDuration}"/> </td>
		</tr>
		<tr><td>ReleaseYear:</td>
			<td> <input type ="number" th:field="*{releaseDate}"/> </td>
		</tr>
		
		<tr>
		<tr>
				<td>Genre:</td>
				<td>
						<select name = "genreId" required >
						<option th:each="i : ${genre}" th:value="${i.genreId}" th:text="${i.genreName}" ></option>
					</select>
				</td>
			</tr>
			<tr>
			
		
		
		</table>
		<br></br>
		<button type ="submit"> Update Movie</button>

</form>

</body>
</html>